/*Estilo barra navegacion*/
* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}
/* head*/
.nav {
    background-color: black;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 80px;
}
.nav-title {
    color: white;
    font-size: 50px;
    flex: 1;
    text-align: right;
}

.nav-links {
    display: flex;
    justify-content:space-around; 
    flex: 2;
    
}
.tbn_nav {
    flex: 2;
    /* justify-content:center;  */
    /* align-content: center; */
    /* align-self: center; */
}
a {
    color: #d5e6d5;
    text-decoration: none;
    font-size: 24px;
}
.active {
    color: white;
}
.btn {
    background-color: rgb(110, 138, 128);
    color: white;
    font-size: 20px;
}

/* cuerpo*/
.main {
    margin: 10px;
    display: flex;
    justify-content: center;
}
.col_arizq, .col_arder{
    border-color: black;
}
.col_arizq {
    flex: 3;
}
.col_arder {
    flex: 2;
}


/*tarjeta*/
.conten_tarjeta {
    width: 500px;
    margin: auto;
    border: 3px solid dimgray;
    border-top-width: 60px;
    position: relative;
    padding: 30px 20px; 
}
.img_user {
    height: 70px;
    border: 3px solid white;
    position: absolute;
    top: -45px;
    border-radius: 50px;
}

.text_usuario {
    font-size: 40px;
    
}

.ico_ficha {
    height: 20px;
}
.conttar_linimg.{
    display: flex;
    align-items: center;
    
    
}
.text_ubicacion{
    font-size: 27px;
}
.texto {
    font-size: 22px;
}
.link_por {
    color: blue;
}

/*contenedor Educa*/
.educa {
    width: 540px;
    margin: auto;
    border: 3px solid dimgray;   
    position: relative;
    padding: 0px;
}
.edu_cabe {
    background-color: dimgray;
    color: white;
    padding: 10px 20px;
    margin: 0px;
}

.edu_linea1 {
    font-size: 25px;
    padding: 5px 20px;
}
.edu_linea2 {
    font-size: 22px;
    padding: 5px 20px;
}
.edu_linea3 {
    font-size: 18px;
    padding: 5px 20px;
}
